img {
  width: 100%;
  height: auto;
  position: relative;
  top: -11em;
}

.nav-menu {
  width: 100%;
  flex: 1;
  display: flex;
  margin-top: 4em;
  justify-content: center;
}

.header-container {
  position: relative;
  flex-direction: column;
}

.site-container {
  display: flex;
  flex-direction: column;
}

header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1080px;
}

.nav-center {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}

.nav-link {
  color: #000000;
}

.nav-link:hover {
  color: #575757;
}


.bx-search {
  color: #000000;
  vertical-align: middle;
}

.bx-search {
  vertical-align: middle;
}

.header-title {
  margin-top: 3em;
  max-width: 1080px;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
}

.ht-line-one, .ht-line-two {
  display: flex;
  font-size: 4em;
}

.title-square {
  border: 5px solid white;
  border-radius: 8px;
  width: 100%;
  height: .72em;
  align-self: top;
  margin-top: 0.41em;
  margin-left: .1em;
}

.ht-subtitle {
  margin-top: 1em;
  font-size: 1.5em;
}

.main-content-container {
  max-width: 1080px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-self: center;
  margin-top: -11em;
  color: #59641E;
}

.viz-type {
  padding: 2em;
  text-align: center;
}

.viz-type img {
  top: 0em;
}

.viz-type-subtitle {
  margin-top: 1em;
}

.main-content-text {
  grid-column: 1 / -1;
  padding: 2em;
}
